section.content h1 {
    text-align: center;
    margin: 1rem;
}
section.content h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
section.content div.lieux > article h3 {
    color: var(--complementary-color);
    font-size: 1.5em;
    text-align: center;

    margin-bottom: 0.5rem;
}


.iframe-batiment-formation {
    width: 80%;
    height: 70%;
}
.iframe-alentour-iut {
    width: 80%;
    height: 300px;
}

section.content img {
    width: 80%;
}

section.content div.lieux {
    display: flex;
    flex-wrap: wrap;

    margin: 2rem 0;
}
section.content div.lieux > article {
    width: 45%;

    margin: 0.5rem 0.5rem;
    padding: 1rem 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 3px var(--text-color);
    border-radius: 1rem;
}



/*
OLD

.part{
    height: 120vw;
    margin: 20px;
}
.part2{
    height: 60vw;
}
#lieu p, #lieu h2, h1{
    margin-bottom: 20px;
}
.lieux{
    display: flex;
    flex-wrap: wrap;
}
.lieux > div {
    width: 50%;
    margin-bottom: 20px;
}
#lieu img{
    width: 500px;
}
#lieu span{
    display: flex;
    justify-content: center;
}
#lieu iframe{
    width: 700px;
    height: 500px;
}


.transport{
    display: flex;
    justify-content: space-around;
}
.transport img{
    width: 100px;
    height: 100px;
}
.pictures img{
    width: 400px;
}
.description{
    width: 80vw;
    height: 50%;
    overflow: hidden;
}
.description > div{
    width: 100%;
    height: 100%;
}
*/