section.content h1 {
    text-align: center;
    margin: 1rem;
}
section.content h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
section.content .lieux > article h3 {
    color: var(--complementary-color);
    font-size: 1.5em;
    text-align: center;

    margin-bottom: 0.5rem;
}

section.content p {
    width: 90%;
    text-align: justify;
    margin: 0.5rem;
}


.iframe-batiment-formation {
    width: 80%;
    height: 70%;
}
.iframe-alentour-iut {
    width: 80%;
    min-height: 300px;
}
.iframe-example-itineary {
    width: 90%;
    min-height: 300px;
}


section.content .lieux img {
    width: 80%;
}
section.content .transport img {
    width: 20%;
}
section.content .description img,
section.content .pictures img {
    width: 25%;
    margin: 0.5rem;
}
section.content .pictures img.logo-crous {
    width: 200px;
}



section.content .lieux {
    display: flex;
    flex-wrap: wrap;

    margin: 2rem 0;
}
section.content .lieux > article {
    width: 44%;

    margin: 0.5rem 0.5rem;
    padding: 1rem 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 3px var(--text-color);
    border-radius: 1rem;
}


section.content .description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.content .description > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    margin-top: 2rem;
    padding: 1rem 2rem;

    border-left: 3px var(--complementary-color) solid;
}
section.content .bunch-of-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}