nav.top-menu {
  position: fixed;
  top: 0;
  right: 2.5vw;
  --cube-length: 70px;
  --half-cube-length: calc(var(--cube-length) / 2);
  --nav-margin-top-bottom: 6rem;
  width: 9rem;
  height: calc(100vh - 2 * var(--nav-margin-top-bottom));
  padding: var(--nav-margin-top-bottom) 0;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: center calc(var(--half-cube-length) + var(--nav-margin-top-bottom));
          perspective-origin: center calc(var(--half-cube-length) + var(--nav-margin-top-bottom));
  background: radial-gradient(var(--secondary-color) 10%, var(--secondary-color), transparent 40%);
}

@media (min-width: 1550px) {
  nav.top-menu ul {
    position: absolute;
    top: 0;
    z-index: 49;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.top-menu ul > li {
    height: var(--cube-length);
    width: var(--cube-length);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
  }
  nav.top-menu ul > li a {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    text-shadow: 0 0 15px var(--secondary-color);
    -webkit-transition: 0.45s cubic-bezier(0.83, 1.19, 0.69, 0.85);
    transition: 0.45s cubic-bezier(0.83, 1.19, 0.69, 0.85);
  }
  nav.top-menu ul > li button {
    position: relative;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
  }
  nav.top-menu ul > li button p {
    color: var(--text-color);
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    letter-spacing: 3px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  nav.top-menu ul > li button::after, nav.top-menu ul > li button::before {
    position: absolute;
    content: "";
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 100%;
    height: 0.5rem;
    background-color: var(--complementary-color);
    border-radius: 0.25rem;
  }
  nav.top-menu ul > li button::before {
    right: 0;
    top: 25%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  nav.top-menu ul > li button::after {
    left: 0;
    bottom: 25%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  nav.top-menu ul > li button:hover::before {
    -webkit-transform: translateY(-50%) rotate(-45deg) translateX(20.7107%);
            transform: translateY(-50%) rotate(-45deg) translateX(20.7107%);
    top: 100%;
  }
  nav.top-menu ul > li button:hover::after {
    -webkit-transform: translateY(50%) rotate(45deg) translateX(-20.7107%);
            transform: translateY(50%) rotate(45deg) translateX(-20.7107%);
    bottom: 0;
  }
  nav.top-menu ul > li button:hover p {
    opacity: 0;
  }
  nav.top-menu div.menu-cube {
    position: relative;
    left: calc(50% - var(--half-cube-length));
    z-index: 50;
    height: var(--cube-length);
    width: var(--cube-length);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    cursor: pointer;
  }
  nav.top-menu div.menu-cube div {
    width: var(--cube-length);
    height: var(--cube-length);
    -webkit-box-shadow: 0 0 3px var(--text-color), 0 0 3px var(--text-color) inset;
            box-shadow: 0 0 3px var(--text-color), 0 0 3px var(--text-color) inset;
    position: absolute;
    top: 0;
    -webkit-transition: 0.45s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.45s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  nav.top-menu div.menu-cube div.front {
    position: absolute;
    -webkit-transform: translateZ(var(--half-cube-length));
            transform: translateZ(var(--half-cube-length));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.top-menu div.menu-cube div.back {
    -webkit-transform: translateZ(calc(-1 * var(--half-cube-length))) rotateY(180deg);
            transform: translateZ(calc(-1 * var(--half-cube-length))) rotateY(180deg);
  }
  nav.top-menu div.menu-cube div.left {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) rotateY(270deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) rotateY(270deg);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  nav.top-menu div.menu-cube div.right {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) rotateY(90deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) rotateY(90deg);
    -webkit-transform-origin: center right;
            transform-origin: center right;
  }
  nav.top-menu div.menu-cube div.top {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) rotateX(90deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) rotateX(90deg);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  nav.top-menu div.menu-cube div.bottom {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) rotateX(-90deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) rotateX(-90deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  nav.top-menu div.hover-animation:hover div.front {
    -webkit-transform: translateZ(calc( 1.5 * var(--cube-length)));
            transform: translateZ(calc( 1.5 * var(--cube-length)));
    letter-spacing: 3px;
  }
  nav.top-menu div.hover-animation:hover div.back {
    -webkit-transform: translateZ(calc(-1.5 * var(--half-cube-length))) rotateY(180deg) rotateZ(45deg);
            transform: translateZ(calc(-1.5 * var(--half-cube-length))) rotateY(180deg) rotateZ(45deg);
  }
  nav.top-menu div.hover-animation:hover div.left {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(calc(-1 * var(--half-cube-length))) rotateY(255deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(calc(-1 * var(--half-cube-length))) rotateY(255deg) rotateZ(45deg);
  }
  nav.top-menu div.hover-animation:hover div.right {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(var(--half-cube-length)) rotateY(105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(var(--half-cube-length)) rotateY(105deg) rotateZ(45deg);
  }
  nav.top-menu div.hover-animation:hover div.top {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(calc(-1 * var(--half-cube-length))) rotateX(105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(calc(-1 * var(--half-cube-length))) rotateX(105deg) rotateZ(45deg);
  }
  nav.top-menu div.hover-animation:hover div.bottom {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(var(--half-cube-length)) rotateX(-105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(var(--half-cube-length)) rotateX(-105deg) rotateZ(45deg);
  }
  nav.top-menu div.menu-on {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 49;
    -webkit-box-shadow: 0 0 4px var(--text-color);
            box-shadow: 0 0 4px var(--text-color);
  }
  nav.top-menu div.menu-on div.front {
    opacity: 0;
    display: none;
  }
  nav.top-menu div.menu-on div.back {
    -webkit-animation: replace-back 1.7s forwards;
            animation: replace-back 1.7s forwards;
  }
  nav.top-menu div.menu-on div.left {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: replace-left 1.7s forwards;
            animation: replace-left 1.7s forwards;
  }
  nav.top-menu div.menu-on div.right {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: replace-right 1.7s forwards;
            animation: replace-right 1.7s forwards;
  }
  nav.top-menu div.menu-on div.top {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: replace-top 1.7s forwards;
            animation: replace-top 1.7s forwards;
  }
  nav.top-menu div.menu-on div.bottom {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: replace-bottom 1.7s forwards;
            animation: replace-bottom 1.7s forwards;
  }
  nav.top-menu div.menu-on div:not(.first) {
    -webkit-transform: translateY(0) rotateZ(0);
            transform: translateY(0) rotateZ(0);
    position: static;
  }
  nav.top-menu div.menu-on + ul > li {
    visibility: visible;
    -webkit-animation: 1.5s spawn-txt forwards;
            animation: 1.5s spawn-txt forwards;
    -webkit-animation-delay: 1.75s;
            animation-delay: 1.75s;
    z-index: 55;
  }
  nav.top-menu div.menu-on + ul > li a:hover {
    text-shadow: 0 0 15px var(--complementary-color);
    background-color: var(--secondary-color);
    -webkit-box-shadow: 0 0 4px var(--complementary-color), inset 0 0 3px var(--complementary-color);
            box-shadow: 0 0 4px var(--complementary-color), inset 0 0 3px var(--complementary-color);
    border-radius: 0.3rem;
    padding: 0.25rem 1rem;
    letter-spacing: 3px;
  }
}
@media (max-width: 1550px) {
  nav.top-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 9rem;
    height: 9rem;
    padding: 0;
    margin: 0;
    -webkit-perspective-origin: center;
            perspective-origin: center;
  }
  nav.top-menu div.menu-cube {
    position: fixed;
    right: 3rem;
    top: 3rem;
    z-index: 50;
    height: var(--cube-length);
    width: var(--cube-length);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(10deg) rotateY(-15deg);
            transform: rotateX(10deg) rotateY(-15deg);
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }
  nav.top-menu div.menu-cube div {
    width: var(--cube-length);
    height: var(--cube-length);
    -webkit-box-shadow: 0 0 3px var(--text-color), 0 0 3px var(--text-color) inset;
            box-shadow: 0 0 3px var(--text-color), 0 0 3px var(--text-color) inset;
    position: absolute;
    top: 0;
    -webkit-transition: 0.45s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.45s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  }
  nav.top-menu div.menu-cube div.front {
    position: absolute;
    -webkit-transform: translateZ(var(--half-cube-length));
            transform: translateZ(var(--half-cube-length));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.top-menu div.menu-cube div.back {
    -webkit-transform: translateZ(calc(-1 * var(--half-cube-length))) rotateY(180deg);
            transform: translateZ(calc(-1 * var(--half-cube-length))) rotateY(180deg);
  }
  nav.top-menu div.menu-cube div.left {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) rotateY(270deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) rotateY(270deg);
    -webkit-transform-origin: center left;
            transform-origin: center left;
  }
  nav.top-menu div.menu-cube div.right {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) rotateY(90deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) rotateY(90deg);
    -webkit-transform-origin: center right;
            transform-origin: center right;
  }
  nav.top-menu div.menu-cube div.top {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) rotateX(90deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) rotateX(90deg);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  nav.top-menu div.menu-cube div.bottom {
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) rotateX(-90deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) rotateX(-90deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  nav.top-menu div.menu-on {
    -webkit-animation: stand-in-air 12s alternate infinite cubic-bezier(0.07, 0.22, 0.95, 0.79);
            animation: stand-in-air 12s alternate infinite cubic-bezier(0.07, 0.22, 0.95, 0.79);
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  @-webkit-keyframes stand-in-air {
    from {
      -webkit-transform: rotateX(10deg) rotateY(-15deg) translateY(0);
              transform: rotateX(10deg) rotateY(-15deg) translateY(0);
    }
    25% {
      -webkit-transform: rotateX(10deg) rotateY(-15deg) translateY(-10px);
              transform: rotateX(10deg) rotateY(-15deg) translateY(-10px);
    }
    75% {
      -webkit-transform: rotateX(10deg) rotateY(-15deg) translateY(10px);
              transform: rotateX(10deg) rotateY(-15deg) translateY(10px);
    }
    to {
      -webkit-transform: rotateX(10deg) rotateY(-15deg) translateY(0);
              transform: rotateX(10deg) rotateY(-15deg) translateY(0);
    }
  }
  @keyframes stand-in-air {
    from {
      -webkit-transform: rotateX(10deg) rotateY(-15deg) translateY(0);
              transform: rotateX(10deg) rotateY(-15deg) translateY(0);
    }
    25% {
      -webkit-transform: rotateX(10deg) rotateY(-15deg) translateY(-10px);
              transform: rotateX(10deg) rotateY(-15deg) translateY(-10px);
    }
    75% {
      -webkit-transform: rotateX(10deg) rotateY(-15deg) translateY(10px);
              transform: rotateX(10deg) rotateY(-15deg) translateY(10px);
    }
    to {
      -webkit-transform: rotateX(10deg) rotateY(-15deg) translateY(0);
              transform: rotateX(10deg) rotateY(-15deg) translateY(0);
    }
  }
  nav.top-menu ul {
    position: absolute;
    top: 0;
    right: 100vw;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--main-color);
    -webkit-transition: all 0.6s, -webkit-animation 1s;
    transition: all 0.6s, -webkit-animation 1s;
    transition: animation 1s, all 0.6s;
    transition: animation 1s, all 0.6s, -webkit-animation 1s;
    opacity: 0;
  }
  nav.top-menu ul li {
    list-style-type: none;
  }
  nav.top-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5em;
    border-bottom: 3px solid var(--complementary-color);
    -webkit-transition: border 100ms, border-radius 200ms 100ms, font-size 200ms 100ms, -webkit-box-shadow 200ms 150ms;
    transition: border 100ms, border-radius 200ms 100ms, font-size 200ms 100ms, -webkit-box-shadow 200ms 150ms;
    transition: border 100ms, box-shadow 200ms 150ms, border-radius 200ms 100ms, font-size 200ms 100ms;
    transition: border 100ms, box-shadow 200ms 150ms, border-radius 200ms 100ms, font-size 200ms 100ms, -webkit-box-shadow 200ms 150ms;
    -webkit-transition-timing-function: cubic-bezier(0.83, 1.19, 0.69, 0.85);
            transition-timing-function: cubic-bezier(0.83, 1.19, 0.69, 0.85);
  }
  nav.top-menu ul li a:hover {
    border-bottom: 0px solid var(--complementary-color);
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 0 3px var(--complementary-color);
            box-shadow: 0 0 3px var(--complementary-color);
    font-size: 1.2em;
  }
  nav.top-menu div.menu-on + ul {
    right: 0;
    opacity: 1;
    -webkit-animation: menu-spawn 1s;
            animation: menu-spawn 1s;
  }
  nav.top-menu div.menu-on + ul li:last-child {
    display: none;
  }
  @-webkit-keyframes menu-spawn {
    from {
      right: 100vw;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-clip-path: polygon(0 0, 85% 0, 75% 100%, 0% 100%);
              clip-path: polygon(0 0, 85% 0, 75% 100%, 0% 100%);
    }
    to {
      right: 100vw;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
  @keyframes menu-spawn {
    from {
      right: 100vw;
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-clip-path: polygon(0 0, 85% 0, 75% 100%, 0% 100%);
              clip-path: polygon(0 0, 85% 0, 75% 100%, 0% 100%);
    }
    to {
      right: 100vw;
      -webkit-transform: translateX(100vw);
              transform: translateX(100vw);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}
@-webkit-keyframes spawn-txt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spawn-txt {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes replace-back {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc(-1.5 * var(--half-cube-length))) rotateY(180deg) rotateZ(45deg);
            transform: translateZ(calc(-1.5 * var(--half-cube-length))) rotateY(180deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateY(55vh) rotateY(180deg) rotateZ(180deg);
            transform: translateZ(var(--half-cube-length)) translateY(55vh) rotateY(180deg) rotateZ(180deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@keyframes replace-back {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc(-1.5 * var(--half-cube-length))) rotateY(180deg) rotateZ(45deg);
            transform: translateZ(calc(-1.5 * var(--half-cube-length))) rotateY(180deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateY(55vh) rotateY(180deg) rotateZ(180deg);
            transform: translateZ(var(--half-cube-length)) translateY(55vh) rotateY(180deg) rotateZ(180deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@-webkit-keyframes replace-left {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(calc(-1 * var(--half-cube-length))) rotateY(255deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(calc(-1 * var(--half-cube-length))) rotateY(255deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateY(0deg) rotateZ(180deg);
            transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateY(0deg) rotateZ(180deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@keyframes replace-left {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(calc(-1 * var(--half-cube-length))) rotateY(255deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(calc(-1 * var(--half-cube-length))) rotateY(255deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateY(0deg) rotateZ(180deg);
            transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateY(0deg) rotateZ(180deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@-webkit-keyframes replace-right {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(var(--half-cube-length)) rotateY(105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(var(--half-cube-length)) rotateY(105deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateY(0deg) rotateZ(180deg);
            transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateY(0deg) rotateZ(180deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@keyframes replace-right {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(var(--half-cube-length)) rotateY(105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateX(var(--half-cube-length)) rotateY(105deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateY(0deg) rotateZ(180deg);
            transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateY(0deg) rotateZ(180deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@-webkit-keyframes replace-top {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(calc(-1 * var(--half-cube-length))) rotateX(105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(calc(-1 * var(--half-cube-length))) rotateX(105deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateX(105deg) rotateZ(180deg);
            transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateX(105deg) rotateZ(180deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@keyframes replace-top {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(calc(-1 * var(--half-cube-length))) rotateX(105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(calc(-1 * var(--half-cube-length))) rotateX(105deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateX(105deg) rotateZ(180deg);
            transform: translateZ(var(--half-cube-length)) translateX(0) translateY(55vh) rotateX(105deg) rotateZ(180deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@-webkit-keyframes replace-bottom {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(var(--half-cube-length)) rotateX(-105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(var(--half-cube-length)) rotateX(-105deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateY(55vh) rotateX(-105deg) rotateZ(45deg);
            transform: translateZ(var(--half-cube-length)) translateY(55vh) rotateX(-105deg) rotateZ(45deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
@keyframes replace-bottom {
  from {
    position: absolute;
    opacity: 1;
    -webkit-transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(var(--half-cube-length)) rotateX(-105deg) rotateZ(45deg);
            transform: translateZ(calc( -1 * var(--half-cube-length))) translateY(var(--half-cube-length)) rotateX(-105deg) rotateZ(45deg);
  }
  55% {
    -webkit-transform: translateZ(var(--half-cube-length)) translateY(55vh) rotateX(-105deg) rotateZ(45deg);
            transform: translateZ(var(--half-cube-length)) translateY(55vh) rotateX(-105deg) rotateZ(45deg);
    opacity: 0;
    position: absolute;
  }
  56% {
    position: static;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  58% {
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0) scale(1.4);
            transform: translateX(0) scale(1.4);
    opacity: 1;
  }
}
/*# sourceMappingURL=responsive-menu.css.map */